#miniatura {
  position: fixed;
  bottom: 0px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#miniatura img {
  width: 200px;
  height: 180px;
  cursor: pointer;
  margin: 20px;
  transition: ease 0.5s;
}
#miniatura img:hover {
  transform: scale(1.1);
}

#painel {
  display: fixed;
  top: 0;
  left: 10px;
  width: 600px;
  height: 500px;
  margin-left: 30%;
}

#painel img {
  width: 100%;
}
